
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <div class="jumbotron">
            <h2>
                Bem Vindo!
            </h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group">

                                <label for="exampleInputEmail1">
                                    Usuário
                                </label>
                                <br />
                                <input type="email" class="form-control" id="exampleInputEmail1" />
                            </div>
                            <br />
                            <div class="form-group">

                                <label for="exampleInputPassword1">
                                    Senha
                                </label>
                                <br />
                                <input type="password" class="form-control" id="exampleInputPassword1" />
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary">
                                Log In
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" role="group">

                    <button class="btn btn-secondary" type="button">
                        @Html.ActionLink("Lista de Produtos", "Index", "Produto")
                    </button>
                    <button class="btn btn-secondary" type="button">
                        @Html.ActionLink("Cadastro", "Form", "Produto")
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
