
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <br />
    <div>
        @using (Html.BeginForm("Adiciona", "Produto", FormMethod.Get))
        {
        <form>
            <table class="table table-bordered">
                <tr>
                    <td>
                        <label for="nome">Nome: </label>
                        <input id="nome" name="produto.nome" style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="preco">Preço: </label>
                        <input id="preco" name="produto.preco" style=" margin-left:2px; width:200px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="quantidade">Quantidade: </label>
                        <input id="quantidade" name="produto.quantidade" style="width:80px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="categoria">Categoria: </label>
                        <select id="categoria" name="produto.CategoriaId" style="margin-left:13px;">
                            @foreach (var categoria in ViewBag.Categorias)
                            {
                                <option value="@categoria.Id">@categoria.Nome</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="descricao">Descrição: </label>
                        <br />
                        <input id="descricao" name="produto.descricao" style="width: 300px; height:60px;" />
                    </td>
                </tr>

            </table>
            <button type="submit"> Salvar </button>
        </form>
        }
        <br />
        <!-- <input type="button" title="Salvar" value="Salvar" />  -->

        <br />

        <button style="margin-top: 10px;"> @Html.ActionLink("Página Inicial", "Index", "Home", null, new { style = "text-decoration:none;" }) </button>
        <button> @Html.ActionLink("Lista de Produtos", "Index", "Produto", null, new { style = "text-decoration:none;" }) </button>


    </div>
</body>
</html>
