@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produto in ViewBag.Produtos)
                {
                    <tr>
                        <td>@produto.Id</td>
                        <td>@produto.Nome</td>
                        <td>@produto.Quantidade</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="btn"> @Html.ActionLink("Cadastro", "Form", "Produto") </div>

    </div>
    <!--
        <div>
            <form action="/Produto/Adiciona">

                <label for="nome">Nome: </label>
                <input id="nome" name="nome" />

                <label for="preco">Preço: </label>
                <input id="preco" name="preco" />

                <label for="quantidade">Quantidade: </label>
                <input id="quantidade" name="quantidade" />

                <label for="descricao">Descrição: </label>
                <input id="descricao" name="descricao" />

                <label for="categoria">Categoria: </label>
                <input id="categoria" name="categoriaId" />

                <br /><br />
                <input type="button">
    -->
    </form>
    </div>

</body>
</html>
