
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>listaUsuarios</title>
</head>
<body>
    <div> 
        <table>
            <thead>
                <th> ID</th>
                <th> Nome</th>
            </thead>
                <tbody>
                    @foreach (var user in ViewBag.usuarios)
                    {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Nome</td>
                    </tr>
                    }
                </tbody>
        </table>


    </div>
</body>
</html>
