
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>listaUsuarios</title>
</head>
<body>
    <div> 
        <table>
            <thead>
                <tr> ID</tr>
                <tr> Nome</tr>
                <tr> Senha</tr>
            </thead>
            <tbody>

            </tbody>
        </table>


    </div>
</body>
</html>
